.todo-page{
    background-color: #fff;
    height: 100vh;
    color: #000;
}

.logout-btn{
    background-color: #fff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

nav, nav a{
    background-color: #1958A7;
    color: #fff;
}

.add-task{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(99, 99, 99, 0.5);
}

.todo-list{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    max-height: 51vh;
    overflow: auto;
    box-shadow: 0px 10px 20px rgba(99, 99, 99, 0.5);
}
 